.zoom{
    transition: transform .2s; /* Animation */
    text-decoration: none;
    color: black;
    overflow: hidden;
}
.zoom:hover {
    transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    text-decoration: none;
    color: black;
}
.card:hover{
    
    background-color:rgba(63, 0, 82, 0.212);
}
