.btn-custom:hover{
    color: white;
    border-color: white;
    background-color: #3F0052;
}
.btn-custom{
    width: 23.5%; 
    background-color: white; 
    border-color: #3F0052; 
    color: black;
    font-size: 1.3em;
    font-weight: bold;
}